.transaction-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 1px solid #cbd5e1;
  height: 25px;
  border-top: none;
  padding: 15px;
}

.delete-button {
  background: none;
  border: none;
}
.delete-img {
  height: 20px;
}

.transaction-item {
  margin-right: 30px;
  color: #334155;
  font-size: 16px;
}
